{% extends 'base.html' %}
{% block title %}Contact Us{% endblock title %}
{% block body %}
<div class="container-fluid px-0 mb-3">
    <img src="/static/img/27.jfif" class="d-block w-100" alt="...">
    {% comment %} <h2 class="text-center">Contact Us</h2> {% endcomment %}
</div>
<div class="container">
    <h1 class="text-center">Contact Us</h1>
    <form method="post" action="/contact">
      {% csrf_token %}
    <div class="form1 mb-3">
        <label class="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name">
      </div>

      <div class="form1 mb-3">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email">
      </div>

      <div class="form1 mb-3">
        <label for="phone">Phone Number</label>
        <input type="phone" class="form-control" id="phone" name="phone" placeholder="Enter your phone number">
      </div>

      <div class="form1 mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Tell me how can I help you:</label>
        <textarea class="form-control" id="desc" rows="3" name="desc"></textarea>
      </div>
      <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</div>
{% endblock body %}